/* =========================================
           preloader
============================================ */
#preloader {
   position: fixed;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   background-image: radial-gradient(circle, #272727 28%, #171717 100%);
   display: -webkit-box;
   display: flex;
   -webkit-box-align: center;
   align-items: center;
   -webkit-box-pack: center;
   justify-content: center;
   z-index: 10000;
}

#preloader-gif {
   width: 20%;
   align-self: center;
}

@media screen and (max-width: 768px) {
   #preloader-gif {
      width: 50%;
   }
}