@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,400;9..40,500;9..40,700&family=DM+Serif+Display&display=swap');


@import url('https://fonts.googleapis.com/css2?family=PT+Mono&family=PT+Sans:wght@400;700&family=PT+Serif:wght@400;700&display=swap');

/* =========================================
              Website Resets
============================================ */
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

*::-moz-focus-inner {
    border: 0;
}

*:focus {
    outline: none;
}

:root {

    /*primary colors */
    --clr-primary-100: hsla(210, 67%, 98%, 100%);
    --clr-primary-200: hsla(210, 67%, 86%, 100%);
    --clr-primary-300: hsla(210, 67%, 68%, 100%);
    --clr-primary-400: hsla(210, 68%, 60%, 100%);
    --clr-primary-500: hsla(210, 67%, 44%, 100%);
    --clr-primary-600: hsla(210, 67%, 39%, 100%);
    --clr-primary-700: hsla(210, 67%, 34%, 100%);
    --clr-primary-800: hsla(210, 67%, 29%, 100%);

    /*secondary colors */
    --clr-secondary-100: hsla(43, 59%, 92%, 100%);
    --clr-secondary-200: hsla(43, 59%, 86%, 100%);
    --clr-secondary-300: hsla(43, 59%, 80%, 100%);
    --clr-secondary-400: hsla(43, 59%, 74%, 100%);
    --clr-secondary-500: hsla(43, 59%, 68%, 100%);
    --clr-secondary-600: hsla(43, 59%, 62%, 100%);
    --clr-secondary-700: hsla(43, 59%, 56%, 100%);
    --clr-secondary-800: hsla(43, 59%, 50%, 100%);

    /*tertiary colors */
    --clr-tertiary-100: hsla(30, 96%, 62%, 100%);
    --clr-tertiary-200: hsla(30, 96%, 59%, 100%);
    --clr-tertiary-300: hsla(30, 96%, 56%, 100%);
    --clr-tertiary-400: hsla(30, 96%, 53%, 100%);
    --clr-tertiary-500: hsla(30, 96%, 50%, 100%);
    --clr-tertiary-600: hsla(30, 96%, 47%, 100%);
    --clr-tertiary-700: hsla(30, 96%, 44%, 100%);
    --clr-tertiary-800: hsla(30, 96%, 41%, 100%);

    /*accent colors*/
    --clr-accent-100: hsla(71, 85%, 50%, 100%);
    --clr-accent-200: hsla(71, 85%, 47%, 100%);
    --clr-accent-300: hsla(71, 85%, 44%, 100%);
    --clr-accent-400: hsla(71, 85%, 41%, 100%);
    --clr-accent-500: hsla(71, 85%, 38%, 100%);
    --clr-accent-600: hsla(71, 85%, 35%, 100%);
    --clr-accent-700: hsla(71, 85%, 32%, 100%);
    --clr-accent-800: hsla(71, 85%, 29%, 100%);

    /*neutral colors*/
    --clr-neutral-100: hsla(0, 0%, 98%, 100%);
    --clr-neutral-200: hsla(0, 0%, 94%, 100%);
    --clr-neutral-300: hsla(0, 0%, 85%, 100%);
    --clr-neutral-400: hsla(0, 0%, 75%, 100%);
    --clr-neutral-500: hsla(0, 0%, 60%, 100%);
    --clr-neutral-600: hsla(0, 0%, 38%, 100%);
    --clr-neutral-700: hsla(0, 0%, 19%, 100%);
    --clr-neutral-800: hsla(0, 0%, 7%, 100%);

    /*augmented colors*/
    --clr-augmented-000: hsla(210, 15%, 88%, 100%);
    --clr-augmented-100: hsla(210, 25%, 85%, 100%);
    --clr-augmented-200: hsla(210, 25%, 75%, 100%);
    --clr-augmented-300: hsla(210, 25%, 65%, 100%);
    --clr-augmented-400: hsla(210, 25%, 55%, 100%);
    --clr-augmented-500: hsla(210, 25%, 45%, 100%);
    --clr-augmented-600: hsla(210, 25%, 35%, 100%);
    --clr-augmented-700: hsla(210, 25%, 25%, 100%);
    --clr-augmented-800: hsla(210, 25%, 20%, 100%);

    /*semantic alert colors*/
    --clr-semantic-a-400: hsla(0, 96%, 33%, 100%);
    --clr-semantic-a-300: hsla(0, 96%, 38%, 100%);
    --clr-semantic-a-200: hsla(0, 96%, 43%, 100%);
    --clr-semantic-a-100: hsla(0, 96%, 48%, 100%);

    /*semantic inform colors*/
    --clr-semantic-i-400: hsla(215, 96%, 33%, 100%);
    --clr-semantic-i-300: hsla(215, 96%, 38%, 100%);
    --clr-semantic-i-200: hsla(215, 96%, 43%, 100%);
    --clr-semantic-i-100: hsla(215, 96%, 48%, 100%);

    /*semantic success colors*/
    --clr-semantic-s-400: hsla(100, 96%, 33%, 100%);
    --clr-semantic-s-300: hsla(100, 96%, 38%, 100%);
    --clr-semantic-s-200: hsla(100, 96%, 43%, 100%);
    --clr-semantic-s-100: hsla(100, 96%, 48%, 100%);

    /*semantic warn colors*/
    --clr-semantic-w-400: hsla(48, 96%, 50%, 100%);
    --clr-semantic-w-300: hsla(48, 96%, 55%, 100%);
    --clr-semantic-w-200: hsla(48, 96%, 60%, 100%);
    --clr-semantic-w-100: hsla(48, 96%, 65%, 100%);


    /* assigned-colors */
    --clr-assigned-primary-color: var(--clr-primary-800);
    --clr-assigned-secondary-color: var(--clr-secondary-800);
    --clr-assigned-tertiary-color: var(--clr-tertiary-800);
    --clr-assigned-accent-color: var(--clr-accent-800);
    --clr-assigned-background-color: var(--clr-primary-100);
    --clr-assigned-textfield-inactive-color: var(--clr-neutral-500);
    --clr-assigned-textfield-active-color: var(--clr-neutral-300);
    --clr-assigned-input-inactive-color: var(--clr-neutral-400);
    --clr-assigned-input-active-color: var(--clr-neutral-200);
    --clr-assigned-text-dark: var(--clr-augmented-800);
    --clr-assigned-text-medium: var(--clr-augmented-700);
    --clr-assigned-text-light: var(--clr-augmented-600);
    /*--clr-assigned-border-color: var(--clr-neutral-700);*/
    --clr-assigned-border-color: var(--clr-augmented-800);


    /**************** fonts ****************/
    --ff-primary-font: 'PT Serif', serif;
    --ff-secondary-font: 'PT Sans', sans-serif;
    --ff-monospace-font: 'PT Mono', monospace;

    --fw--font-weight-normal: 400;
    --fw--font-weight-bold: 700;

    /**************** timing functions ****************/
    --tf-timing-function-basic-01: cubic-bezier(0.26, 0.1, 0.27, 1.55);
    --tf-timing-function-basic-02: cubic-bezier(0.17, 0.67, 0.83, 0.67);
    --tf-timing-function-ease: cubic-bezier(0.19, 0.08, 0.46, 0.99);
    --tf-timing-function-ease-in: cubic-bezier(0.33, 0.02, 0.84, 0.75);
    --tf-timing-function-ease-out: cubic-bezier(0.05, 0.21, 0.66, 0.98);
    --tf-timing-function-ease-in-out: cubic-bezier(0.38, 0, 0.57, 0.99);
    --tf-timing-function-linear: cubic-bezier(0.19, 0.08, 0.84, 0.75);
    --tf-timing-function-smooth: cubic-bezier(0.1, 0.7, 0.6, 0.9);
    --tf-timing-function-snappy: cubic-bezier(0.5, 0, 0.4, 0.98);

    /**************** box shadows ****************/
    --bs-box-shadow-100: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
    --bs-box-shadow-200: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
    --bs-box-shadow-300: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
    --bs-box-shadow-400: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    --bs-box-shadow-500: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    --bs-box-shadow-600: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    --bs-box-shadow-700: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    --bs-box-shadow-800: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;

    /**************** border ****************/
    --br-border-radius-100: 1px;
    --br-border-radius-200: 2px;
    --br-border-radius-300: 3px;
    --br-border-radius-400: 5px;
    --br-border-radius-500: 8px;
    --br-border-radius-600: 13px;
    --br-border-radius-700: 21px;
    --br-border-radius-800: 50%;

    /**************** letter spacing ****************/
    --ls-letter-spacing-100: 1px;
    --ls-letter-spacing-200: 2px;
    --ls-letter-spacing-300: 3px;
    --ls-letter-spacing-400: 5px;
    --ls-letter-spacing-500: -1px;
    --ls-letter-spacing-600: -2px;
    --ls-letter-spacing-700: -3px;
    --ls-letter-spacing-800: -5px;
}

html {
    font-size: 62.5%; /*16px */
    scroll-behavior: smooth;
}

/* Large Devices (Desktops & Laptops) */
@media (min-width: 1200px) and (max-width: 1299px) {

}


/* Medium Devices (Landscape Tablets & Medium Desktops) */
@media (min-width: 992px) and (max-width: 1199px) {

}


/* Small Devices (Portrait Tablets & Small Desktops) */
@media (min-width: 768px) and (max-width: 991px) {

}


/* Extra Small Devices (Landscape Phones & Portrait Tablets) */
@media (max-width: 767px) {

}

/* Extra Small Devices (Portrait Phones & Smaller Devices) */
@media (max-width: 420px) {
    html {
        font-size: 83.333%;
    }
}

/* Extra Small Devices (Portrait Phones & Smaller Devices) */
@media (max-width: 360px) {
    html {

        font-size: 66.667%;
    }
}


/* Extra Small Devices (Portrait Phones & Smaller Devices) */
@media (max-width: 320px) {
    html {
        font-size: 55%;
    }

}

body {
    height: 100vh;
    margin: 0;
    overflow-x: hidden;
    display: flex;
    justify-content: center;
    font-family: var(--ff-secondary-font);
    font-weight: var(--fw--font-weight-normal);
    background-color: #f0f0f0;
}

h1, h2, h3, h4, h5 {
    margin: 3rem 0 1.38rem;
    font-family: var(--ff-primary-font);
    font-weight: var(--fw--font-weight-bold);
    line-height: 1.3;
}

h1 {
    margin-top: 0;
    font-size: 3.052rem;
}

h2 {
    font-size: 2.441rem;
}

h3 {
    font-size: 1.953rem;
}

h4 {
    font-size: 1.563rem;
}

h5 {
    font-size: 1.25rem;
}

p {
    margin-bottom: 1rem;
}

small, .text_small {
    font-size: 0.8rem;
}

ul {
    list-style: none;

}

a {
    text-decoration: none;
}

img {
    width: 100%;
    height: auto;
}


.heading-primary {
    margin-top: 5em;
    font-size: 3.052rem;
}

.heading-secondary {
    font-size: 2.441rem;
}

.heading-tertiary {
    font-size: 1.953rem;
}

.paragraph {
    font-size: 1.6rem;

    &:not(:last-child) {
        margin-bottom: 3em;
    }
}

/*=============================================
      scrollbar styles
================================================*/
/* width */
::-webkit-scrollbar {
    width: 3px;
}

/* track */
::-webkit-scrollbar-track {
    margin-left: 4px;
    box-shadow: inset 0 0 5px var(--clr-neutral-400);
    border-radius: var(--br-border-radius-200);
}

/* handle */
::-webkit-scrollbar-thumb {
    background: var(--clr-neutral-300);
    border-radius: var(--br-border-radius-200);
}

/* handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: var(--clr-neutral-600);
}